# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/

# Data (too large for git)
data/raw/
data/processed/
*.pt
*.pth


# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
